---
repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.62.3
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint

  - repo: https://github.com/terraform-docs/terraform-docs
    rev: v0.16.0
    hooks:
      - id: terraform-docs-system
        args: ["./examples/tenant_yaml"]
      - id: terraform-docs-system
        args: ["./examples/site_hcl"]
      - id: terraform-docs-system
        args: ["."]
